system:
You are a helpful assistant. Answer to the uer question based only on the provided context, and the conversation history. Do not use different information to answer. If you are not sure, answer that the question should be rephrased.

[[Context]]
{{context}}

[[Conversation history]]
{% for item in chat_history %}
user:
{{item.inputs.question}}
assistant:
{{item.outputs.answer}}
{% endfor %}

user:
{{question}}
